/*####################################*/
/*#                BODY              #*/
/*####################################*/
body {
    background-image: url(../images/background_body.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed !important;
}
/*####################################*/
/*#               HEADER             #*/
/*####################################*/
.BBH_title,
.BBH_title a
{ text-align: center; }
.BBH_title a:hover
{ text-decoration: none; }
nav.navbar.navbar-default.navbar-fixed-top
{ min-height: auto; }
nav.navbar.navbar-default.navbar-fixed-top ,
.navbar-default .navbar-toggle
{ border-color: rgb(226, 16, 123) !important; }
ul.dropdown-menu
{ text-align: center;}
/*####################################*/
/*#              FOOTER              #*/
/*####################################*/
.footer {
  bottom: 0;
  width: 100%;
}
.img_partenaire:hover,
.img_social:hover {
  border-radius: 45%;
}
.img_partenaire {
  height: 2.5em;
  padding-left: 20px;
  padding-right: 20px;
}
.img_social {
  height: 2.5em;
  padding-left: 10px;
  padding-right: 10px;
}
footer a
{ font-style: italic; }
.footer_section1
{ font-size: small; }
.footer_section2
{ font-size: x-small; }
/*####################################*/
/*#            CONTAINER             #*/
/*####################################*/
.content
{ padding-top: 6.5em !important; }
/* * * * LOGO * * * */
i.fa
{ margin-right: 20px; }

/* * * * CONTACT * * * */
i#contact, i#contact_info
{ margin-right: 30px; }

/*# # # # # ENTRAINEMENT # # # # #*/
th a
{ text-decoration: underline; }
td,th {
    vertical-align: middle !important;
    text-align: center;
}
/*# # # # # CLUB # # # # #*/
img.img-responsive
{ height: 10em;}

/*# # # # # EQUIPES # # # # #*/
.equipes_btn
{ margin-bottom: 5px; }

/*# # # # # BLOG # # # # #*/
iframe
{ border: none !important; }
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/*####################################*/
/*#              ICONS               #*/
/*####################################*/
span.glyphicon,
span#contact
{ margin-left: 30px; }

/*####################################*/
/*#              COLOR               #*/
/*####################################*/
.BBH_title,
.BBH_title a,
a.navbar-brand,
a.subNavLink,
.dropdown-menu.nav_link>li>a,
.panel-title
{ color: rgb(226, 16, 123) !important; }

footer,
footer a,
ul.nav.nav-justified>li>a:hover,
.nav.nav-justified>.active a,
li.active,
a.subNavLink:hover,
#titre_page,
.dropdown-menu.nav_link>li>a,
#equipeFeminin a,
#equipeMasculin a
{ color: #DDDDDD !important}

.dropdown-menu>li>a,
th a
{ color: #333333 !important; }

ul.nav.nav-justified>li>a,
h4
{ color: #AAAAAA !important; }

.BBH_title a:hover
{ color: rgb(26, 236, 41) !important; }

/*####################################*/
/*#          BACKGROUND COLOR        #*/
/*####################################*/
#equipeMasculin a
{ background-color: rgba(32, 161, 41, 0.9) !important; }
#equipeMasculin a:hover
{ background-color: rgba(32, 161, 41, 0.6) !important; }
#equipeFeminin a
{ background-color: rgba(161, 32, 140, 0.9) !important; }
#equipeFeminin a:hover
{ background-color: rgba(161, 32, 140, 0.6) !important; }

.BBH_navbar_scroll
{ background-color: #000000 !important; }

.container,
.BBH_navbar_top
{ background-color: transparent !important; }

.navbar-default .navbar-toggle .icon-bar
{ background-color: #DDDDDD !important; }

table.table
{ background-color: rgba(221, 221, 221, 0.75) !important; }

.nav.nav-justified>li>a:focus,
.nav>li>a:hover,
.nav.nav-justified>.active,
ul.dropdown-menu,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.nav_link:hover
{ background-color: rgb(226, 16, 123) !important; }

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.nav-tabs>li.active>a.subNavLink
{ background-color: rgb(226, 50, 123) !important; }


/*####################################*/
/*#            BORDER COLOR          #*/
/*####################################*/
nav.navbar.navbar-default.navbar-fixed-top ,
.navbar-default .navbar-toggle,
.nav.nav-justified>li>a:focus,
.nav>li>a:hover,
.nav.nav-justified>.active,
ul.dropdown-menu,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover
{ border-color: rgb(226, 16, 123) !important; }
a.subNavLink
{ border-bottom-color: rgb(226, 50, 123) !important; }
li.active a.subNavLink
{ border-color: rgb(226, 50, 123) !important; }

#equipeMasculin a
{ border-color: rgba(32, 161, 41, 0.9) !important; }
#equipeFeminin a
{ border-color: rgba(161, 32, 140, 0.9) !important; }
